/* Mobile Specific Style Rules */
@media only screen and (max-device-width: 480px) {
  #form {
    width: 90%;
    order: 3;
  }
  #form input {
    width: 90%;
  }
  #main {
    display:flex;
    flex-direction:column;
  }
  .sidebar {
    order: 2;
    clear: both;
  }
  #map {
    order: 1;
  }
  .sidebar {
    overflow: scroll;
    width: 100%;
    height: 210px; }

}
