# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# Jetbrains
.idea
.vscode
.code-workspace
.cache/
dist/
coverage/
# NodeJS
/node_modules

# OS X
.DS_Store

#Photoshop files
.pxm

# ReactJS
build/

# Local target for files built on docker
docker/

.env
