services:
  app:
    build: .
    stdin_open: true
    ports:
      - '5173:5173'
    entrypoint: bash -c "pnpm install && pnpm start"
    volumes:
      - '.:/usr/src/app'
  bash:
    build: .
    ports:
      - '5173:5173'
    stdin_open: true
    entrypoint: /bin/bash
    volumes:
      - '.:/usr/src/app'
  prod_build:
    build: .
    entrypoint: bash -c "pnpm build"
    environment:
      CI: 'false'
      VITE_DB_URL:
    volumes:
      - './docker/build:/usr/src/app/build'
      - './docker/testResults:/usr/src/app/testResults'
