$dark-grey: #2d3748;
$light-grey: #60718c;
$lighter-grey: #e9eef4;

.halfInfo {
  margin: 0;
  font-size: 16px;
  width: 100%;

  padding: 10px 20px 10px;

  h2 {
    font-size: 1.44em; // font-size: 20.16px;
    line-height: 26px;
    font-weight: 600;
  }

  h3 {
    font-size: 1em; // font-size: 14px;
    font-weight: 600;
  }
  p {
    font-size: 1em; // font-size: 14px;
    color: $light-grey;
    font-weight: 500;
    line-height: 18px;
  }

  .swipeIcon {
    content: ' ';
    height: 4px;
    width: 24px;
    border-radius: 25%;
    margin: 0 auto 15px;
    background-color: $lighter-grey;
    display: block;
  }

  .locationImage {
    object-fit: cover;
    width: 100%;
    height: 100px;
    border-radius: 8px;
  }

  .mainHalfInfo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px 0 0;

    .mainHalfInfoText {
      margin-left: 10px;
      display: flex;

      flex-direction: column;

      .organization {
        margin-bottom: 6px;
      }

      .estWalkTime {
        font-weight: 400;
      }

      .walkTime {
        font-size: 1em; //font-size: 14px;
        color: #2d3748;
        font-weight: 600;
      }
    }
  }

  .halfInfoExpand {
    .tagGroup {
      width: auto;
      display: inline-block;
      min-width: min-content;
      max-width: fit-content;
    }

    .details {
      margin: 10px 0;
    }

    .topDivider {
      margin-bottom: 15px;
    }

    .botDivider {
      margin-bottom: 10px;
    }
  }

  .expandedToolBar {
    display: flex;
    justify-content: space-between;
  }
}
