.mobileDrawer {
    maxHeight: 60% !important;
    border: pink;
}


.drawerHeading {
    height: 20%;
    background-color: #525F75;
    display: flex;
    justify-content: center;
    align-items: center;
}

// .desktopDrawerHeading {
//      height: 20%;
//     background-color: #525F75;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

.MuiDrawer-paper {

}

@media only screen and (max-width: 600px) {
    .drawerHeading {

    }

.filterDrawer {
    height: 60%;
}

}
