
.filterDrawer {

}

.desktopDrawer{

}

.MuiSlider-root {
    color: #20b2aa;

}

.mobileDrawer {
    maxHeight: 60% !important;

}


.drawerHeading {
    height: 20%;
    background-color: #525F75;
    display: flex;
    justify-content: center;
    align-items: center;
}


.MuiDrawer-paper {

}

@media only screen and (max-width: 600px) {
    .drawerHeading {

    }

    .filterDrawer {
        height: 60%;
    }
}
