.filterButton {
  font-size: 12px;
  margin-top: 1%;
  margin-bottom: 1%;
}
.filterFont {
  font-size: 14px;
  padding-bottom: 1%;
}

.filterGroup {
  padding: 1%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}

.clearButton {
  display: block;
  float: left;
}

.applyButton {
  display: block;
  float: right;
}

.bottomButtons {
  margin-top: 7%;
}
