.filterDrawer {

}

.desktopDrawer{

}


.mobileDrawer .MuiDrawer-paper {

    height: 60%;
}


.mobileDrawerHeading {
    height: 20%;
    background-color: #525F75;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktopDrawerHeading {
    height: 20%;
    background-color: #525F75;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MuiDrawer-paper {

}
