.filterButton {
  font-size: 12px;
  margin-top: 1%;
  margin-bottom: 1%;
}
.filterFont {
  font-size: 14px;
  padding-bottom: 1%;
}

.filterGroup {
  padding: 1%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}

.clearButton {
  display: block;
  float: left;
}

.applyButton {
  display: block;
  float: right;
}

.bottomButtons {
  margin-top: 7%;
}
@media only screen and (min-width: 768px) {
  div.filterGroup {
    /* background-color: green !important; */
  }
  div.MuiPaper-elevation {
    height: 500px !important;
    width: 30vw;
    min-width: 400px;
    border-radius: 5px;
    bottom: 0;
    top: 10rem;
    left: 1rem;
    align-items: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
  }

  .filterBox {
    width: 100%;
    padding-right: 0;
  }
  .filterButton {
    /* background-color: red !important; */
  }
  .swipeDrawer {
    padding-left: 100%;
  }
}

SwipeableDrawer {
}
