<div
  role="presentation"
  class="MuiModal-root MuiDrawer-root MuiDrawer-modal swipeDrawer css-1ggqt74-MuiModal-root-MuiDrawer-root"
>
  <div
    aria-hidden="true"
    class="MuiBackdrop-root css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop"
    style="
      opacity: 1;
      transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    "
  ></div>
  <div tabindex="0" data-test="sentinelStart"></div>
  <div
    class="MuiPaper-root MuiPaper-elevation MuiPaper-elevation16 MuiDrawer-paper MuiDrawer-paperAnchorBottom css-9emuhu-MuiPaper-root-MuiDrawer-paper"
    tabindex="-1"
    style="
      transform: none;
      transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    "
  >
    <div class="filterBox MuiBox-root css-od27r6">
      <h5
        class="MuiTypography-root MuiTypography-h5 css-1rtg20-MuiTypography-root"
      >
        Water Filter
      </h5>
    </div>

    </div>
  </div>
  <div tabindex="0" data-test="sentinelEnd"></div>
</div>
