.header {
  margin: 0;
  color: #2d3748;
  line-height: 29.3px;
  font-size: 24.2px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  text-align: center;
}

.description {
  margin: 0;
  color: #60718c;
  line-height: 24px;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  text-align: center;
}

.icon {
  fill: #fff;
}

.label {
  margin: 0;
  color: #ffffff;
  line-height: 23px;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  text-transform: none;
}

.socialShareMessageHeader {
  width: 389px;
  height: 24px;

  /* Type Scale/H1

  Full page header
  */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24.19px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.02em;

  /* UI/UI-8 */
  color: #60718C;


  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.socialShareMessage {
  width: 389px;
  height: 24px;

  /* Type Scale/body1 */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  text-align: center;

  /* UI/UI-8 */
  color: #60718C;


  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}