.modal {
  max-width: auto;
  margin: 0 auto;
  padding: 0;
}

.modalHeader {
  margin-bottom: 32px;
}

.modalBody {
  padding: 0px 24px;
}

.modalContent {
  height: 90vh;
}

.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.dialogDesktop {
  align-items: center;
  justify-content: center;
  width: 660px;
  height: 314px;
  left: 25px;
  top: 372px;
  margin-bottom: 60px;
}

.boxDesktop {
  background: white;
  border-radius: 5px;
  position: 'absolute';
  top: 840px;
  left: 20px;
  filter: drop-shadow(0px 3px 8px 0px);
}

.greyHeader {
  color: #626262;
  font-size: 24px;
  text-align: center;
}

.greyHeaderDesktop {
  color: black;
  font-size: 24.19px;
  text-align: center;
  margin-top: 20px;
}

.subHeader {
  font-size: 14px;
  text-align: center;
  margin-bottom: 40px;
}

.subHeaderDesktop {
  font-size: 14px;
  text-align: center;
  color: grey;
}

.modalButton {
  display: flex;
  flex-direction: column;
  width: 209px;
  gap: 8px;
  height: 94px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
}

.modalFormLabel {
  color: #525f75;
  font-weight: 500;
}

.modalFormTextInput {
  color: #000;
  background: #eaeef3;
}

.modalFormSelect {
  color: #525f75;
  background: #eaeef3;
}

.modalFormCheck {
  margin: 8px 0px;
}

.modalAddressAutofill {
  color: #000;
  width: 100%;
  background: #eaeef3;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #ced4da;
}

.socialShareMessage {
  color: #626262;
  font-size: 1.25rem;
  text-align: center;
}

.socialShareIconWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  padding: 0px 64px;
}

.socialShareIcon {
  color: #626262;
  font-size: 2.25rem;
  text-align: center;
}

.addButton {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0.35rem;
  color: #999;

  &:hover {
    color: #666;
  }

  svg {
    padding: 0.15rem;
  }
}

.mobileAddButton {
  right: 2%;
}
