.modal {
  max-width: auto;
  margin: 0 auto;
  padding: 0;
}

.modalHeader {
  margin-bottom: 32px;
}

.modalContent {
  height: 90vh;
}

.greyHeader {
  color: #626262;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 48px;
}

.modalButton {
  display: block;
  margin: 24px auto;
  padding: 16px 32px;
  min-width: 60%;
}

.addButton {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0.35rem;
  color: #999;

  &:hover {
    color: #666;
  }

  svg {
    padding: 0.15rem;
  }
}

.mobileAddButton {
  right: 2%;
}
