.page {
  max-height: calc(100vh - 76px - 32px - 50px - 25px - 25px);
  overflow-y: auto;
  padding-right: 10px;
}

.pageHeader {
  margin: 0;
  margin-bottom: 40px;
  color: #60718c;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}

.pageSubheader {
  margin: 0;
  margin-bottom: 10px;
  color: #2d3748;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.pageText {
  margin: 0;
  margin-bottom: 20px;
  color: #2d3748;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.pageLink {
  color: #033e8c;
  text-decoration: none;
}

// Contact page specific
.pageContactSection {
  margin-bottom: 20px;
}

.pageContactLabel {
  margin: 0;
  margin-bottom: 5px;
  color: #2d3748;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
}
