.appbar {
  background-color: #fff;
  color: #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 0 rgba(0, 0, 0, 0.24);
  display: flex;
}

.right-group {
  margin-left: auto;
  margin-top: -1%;
}

.phlask-logo {
  overflow: visible;
}

.right-icon {
  overflow: visible;
  /* Gets rid of added fill from MUI SVG component */
  color: transparent;
}

