.root {
  padding-block: 16px;
  border-radius: 28px;
  pointer-events: auto;

  @media only screen and (min-width: 670px) {
    top: unset;
    position: relative;

    justify-content: flex-start;
    align-items: center;
  }
}

.search-icon {
  padding: 0;
}
