.addButton {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0.35rem;
  color: #999;

  &:hover {
    color: #666;
  }

  svg {
    padding: 0.15rem;
  }
}

.mobileAddButton {
  right: 2%;
}

.toggleButton {
  width: 400px;
  height: 150px;
  // color: rgb(8, 11, 226);
  vertical-align: middle;
  margin: 2rem 2rem 2rem;

  // &:hover {
  //   color: rgb(142, 143, 180);
  // }
}

.spacer {
  padding: 0.50rem;
}

.center {
  text-align: center;
}