.filterIcon {
  width: 40px;
  height: 40px;
  background-color: black;
  padding: 2px;
  border-radius: 20px;
}

div {
  border: none;
  outline-style: none;
}

.filterIcon:hover {
  cursor: pointer;
}
