.mapPage {
  position: absolute;
  height: 100%;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.mapWrapper {
  position: relative;
  height: 100%;
  width: 100%;

  & > div {
    height: 100%;
  }
}
