.map-interface-container{
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  pointer-events: none;
}
.map-interface-container-expanded{
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.search-bar-container {
  position: relative;
  pointer-events: none;
}

/* .legend {
  visibility: hidden;
  position: absolute;
  bottom: 30px;
  left: 10px;
} */

.loading {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.spinner {
  margin-bottom: 20px;
}

.filter {
  position: absolute;
  width: fit-content;
  z-index: 1000;
  bottom: 30px;
  left: 30px;
  border: none;
  outline-style: none;
}

.filter-grouped{
  position: relative;
  width: fit-content;
  z-index: 1000;
  margin-bottom: 15px;
  left: 30px;
  border: none;
  outline-style: none;
}

/* Hide unneeded default controls */
/* buttons container */
.gmnoprint{
  visibility: hidden;
  margin-top: 100px !important;
}
/* individual buttons */
.gm-style-mtc{
  border-radius: 50px !important;
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  -ms-border-radius: 50px !important;
  -o-border-radius: 50px !important;
}
.gm-fullscreen-control{
  visibility: hidden;
}
/* .gm-control-active{
  visibility: hidden;
  position: absolute !important;
  height: 0 !important;
  width: 0 !important;
} */

/* .mapContainer {
  height: 80vh;
} */

.mobile-map-container {
  position: relative;
  margin-top: 66px; /* height of the header */
  height: calc(100% - 66px);
}