.map-interface-container{
  position: relative;
  display: flex;
  flex-direction: column;
}

.searchBarContainer {
  position: relative;
  top: 60px;
  left: 10px;
}
.legend {
  visibility: hidden;
  position: absolute;
  bottom: 30px;
  left: 10px;
}

.loading {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.spinner {
  margin-bottom: 20px;
}

.filter {
  position: absolute;
  width: fit-content;
  z-index: 1000;
  bottom: 30px;
  left: 30px;
  border: none;
  outline-style: none;
}
.filter-grouped{
  position: relative;
  width: fit-content;
  z-index: 1000;
  bottom: 15px;
  left: 30px;
  border: none;
  outline-style: none;
}

/* Style the map/satellite buttons */
/* buttons container */
.gmnoprint{
  visibility: hidden;
  margin-top: 100px !important;
}
/* individual buttons */
.gm-style-mtc{
  border-radius: 50px !important;
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  -ms-border-radius: 50px !important;
  -o-border-radius: 50px !important;
}