#search-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 8px 0 0 8px;
  justify-content: start;
}
#search-input{
  border-radius: 5px;
  flex: 1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  animation-name: search-input-animation;
  animation-duration: .4s;
  animation-fill-mode: forward;
  animation-timing-function: ease-in-out;
}
@keyframes search-input-animation{
  0%{
    width: 0;
  }100%{
    width: 100%;
  }
}
.clearInput {
  display: inline;
  font-size: 1.5em;
  font-weight: bold;
}

.clearInput:hover {
  cursor: pointer;
}

button {
  padding-bottom: 40px;
  height: 30px;
}

#close-button{
  position: relative;
  margin-left: 5px;
  height: 15px;
  width: 15px;
  /* opacity: .7; */
  /* animation-name: close-button-animation; */
  animation-duration: .6s;
  animation-fill-mode: forward;
  animation-timing-function: ease-in-out;
}
@keyframes close-button-animation{
  0%{
    opacity: 0;
  }50%{
    opacity: 0;
  }100%{
    opacity: .7;
  }
}
#close-icon{
  height: 100%;
  width: 100%;
}

#search-icon{
  padding: 8px 0 0 8px;
  height: 40px;
  width: 40px;
  opacity: .5;
}
#search-img{
  height: 100%;
  width: 100%;
}

.suggestion-item{
  
}
