#search-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 8px 0 0 8px;
  justify-content: start;
}
#search-input{
  /* width: 90%; */
  flex: 1;
}
.clearInput {
  display: inline;
  font-size: 1.5em;
  font-weight: bold;
}

.clearInput:hover {
  cursor: pointer;
}

button {
  padding-bottom: 40px;
  height: 30px;
}

#close-button{
  position: relative;
  height: 30px;
  width: 30px;
  /* background-color: lightcyan; */
}
#close-icon{
  height: 100%;
  width: 100%;
}

#search-icon{
  padding: 8px 0 0 8px;
  height: 40px;
  width: 40px;
}
#search-img{
  height: 100%;
  width: 100%;
}

.suggestion-item{
  
}