:root{
    --info-main-image-height-min: 50px;
    --info-main-image-height-max: 200px;
    --info-icons-size-min: 20px;
    --info-icons-size-max: 50px;
    --tap-menu-margin: 5%;
}

#tap-info-container{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: fit-content;
    background-color: white;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
#tap-info-container-mobile{
    position: relative;
    width: 100%;
    height: 100vh;
    left: 50%;
    transform: translateX(-50);
    border-radius: 6px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background-color: white;
    overflow: scroll;
}
#tap-info-top{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}
#tap-info-drag-area{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.drag-bar-dash{
    height: 2.5px;
    width: 20px;
    margin: 1px 0 1px 0;
    background-color: gray;
}
#tap-menu{
    height: fit-content;
    margin-right: var(--tap-menu-margin);
    margin-top: 5px;
}
#tap-menu-icon{
    height: 25px;
}
#tap-info-drag-area-placeholder{
    visibility: hidden;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* Tap Image */
#tap-info-img-box{
    position: relative;
    width: 100%;
    height: 25vw;
    max-width: 100%;
    max-height: var(--info-main-image-height-max);
    min-width: 100%;
    min-height: var(--info-main-image-height-min);
}
#tap-info-img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

/* Content Area */
#tap-content{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: fit-content;
    justify-content: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 5px;
}
#tap-content-expanded{
    position: relative;
    width: fit-content;
    max-width: 100%;
    height: 100%;
    justify-content: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    overflow: scroll;
}
#tap-head-info{
    display: flex;
    flex-direction: row;
}
#tap-type-icon-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 2;
    margin: 10px 5px 0 5px;
    max-width: 15%;
}
#tap-type-icon{
    width: 100vw;
    height: min-content;
    min-width: var(--info-icons-size-min);
    max-width: var(--info-icons-size-max);
    min-height: var(--info-icons-size-min);
    max-height: var(--info-icons-size-max);
}

/* Name & Address */

#org-name-and-address{
    align-self: center;
    flex: 3;
    margin-top: 5px;
}
#tap-organization-name{
    font-size: 1.2em;
    font-weight: 700;
    text-align: start;
    line-height: 100%;
    /* margin: 5px 0 5px 0; */
    
}
#tap-info-address{
    text-align: start;
    font-size: 15px;
    font-weight: 400;
    
}

/* Hours */

#org-hours{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    flex: 1;
}
#tap-info-org-status{
    text-align: center;
    color: green;
    font-weight: 700;
}
#tap-info-hours{
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
    align-self: center;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 5px;
    padding: 0 3px 0 3px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#hours-dropdown-arrow-container{
    width: 20px;
}
#hours-dropdown-arrow{
    width: 100%;
}

#walk-time-and-icons{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 5px 5px 5px;
}
#tap-info-walk-time{
    width: fit-content;
    font-size: 12px;
    font-weight: 400;
}
#tap-info-icons-box{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.tap-info-icon{
    position: relative;
    width: 3vh;
    height: 3vh;
    /* margin: 0 2px 0 2px; */
    /* min-width: var(--info-icons-size-min);
    max-width: var(--info-icons-size-max);
    min-height: var(--info-icons-size-min);
    max-height: var(--info-icons-size-max); */
    /* flex: 1; */
}
.tap-info-icon-img{
    position: relative;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
}

/* Expand Arrow */

#tap-info-arrow-box{
    position: relative;
    width: 90%;
    height: fit-content;
    padding: 8px 0 8px 0;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.tap-info-arrow{
    height: 20px;
    width: 40px;
    /* margin-top: 10px; */
    align-self: center;
    /* background-color: lawngreen; */
}

/* Description */

#tap-info-description-box{
    margin-top: 5px;
    padding-top: 10px;
    border-top: 1px solid rgba(0,0,0,.2);
    text-align: center;
    width: 100%;
    height: fit-content;
}
#tap-info-description{
    height: 50px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
}
#tap-info-description-expanded{
    height: fit-content;
    overflow: hidden;
}