:root{
    --info-main-image-height-min: 50px;
    --info-main-image-height-max: 200px;
    --info-icons-size-min: 20px;
    --info-icons-size-max: 50px;
    --tap-menu-margin: 5%;
}

#tap-info-container{
    position: absolute;
    width: 30%;
    min-width: 400px;
    height: 80%;
    border-radius: 5px;
    background-color: rgba(255,255,255,.9);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    pointer-events: visibleStroke;
    animation-name: info-modal-in-desktop;
    animation-duration: .6s;
    animation-fill-mode: forward;
    animation-timing-function: ease-in-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .6s all ease-in-out;
    -webkit-transition: .6s all ease-in-out;
    -moz-transition: .6s all ease-in-out;
    -ms-transition: .6s all ease-in-out;
    -o-transition: .6s all ease-in-out;
    /* overflow: scroll; */
}
#tap-info-container-mobile{
    position: absolute;
    bottom: 10px;
    width: 95%;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 0 2px 0 2px;
    background-color: rgba(255,255,255,.9);
    animation-name: info-modal-in;
    animation-duration: .6s;
    animation-fill-mode: forward;
    animation-timing-function: ease-in-out;
    transition: .6s all ease-in-out;
    -webkit-transition: .6s all ease-in-out;
    -moz-transition: .6s all ease-in-out;
    -ms-transition: .6s all ease-in-out;
    -o-transition: .6s all ease-in-out;
    pointer-events: visibleStroke;
}
.info-window-out{
    left: 50%;
    transform: translate(-50%,100%);
    -webkit-transform: translate(-50%,100%);
    -moz-transform: translate(-50%,100%);
    -ms-transform: translate(-50%,100%);
    -o-transform: translate(-50%,100%);
    transition: .6s all ease-in-out;
    -webkit-transition: .6s all ease-in-out;
    -moz-transition: .6s all ease-in-out;
    -ms-transition: .6s all ease-in-out;
    -o-transition: .6s all ease-in-out;
    /*background-color: blueviolet;
    */opacity: 0;
}
.info-window-in{
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.info-window-out-desktop{
    left: -50%;
    opacity: 0;
}
.info-window-in-desktop{
    left: 0;
    opacity: 1;
    /* background-color: burlywood; */
}
@keyframes info-modal-in{
    0%{
        bottom: -50%;
        opacity: 0;
}100%{
        bottom: 0;
        opacity: 1;
    }
}
@keyframes info-modal-in-desktop{
    0%{
        left: -50%;
        opacity: 0;
}100%{
        left: 0;
        opacity: 1;
    }
}
#tap-info-top{
    position: absolute;
    display: flex;
    height: fit-content;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}
#tap-info-drag-area{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.drag-bar-dash{
    height: 2.5px;
    width: 20px;
    margin: 1px 0 1px 0;
    background-color: gray;
}
#tap-menu{
    height: fit-content;
    margin: 0 var(--tap-menu-margin) 5px 0;
}
#tap-menu-icon{
    height: 25px;
}
#tap-info-drag-area-placeholder{
    visibility: hidden;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Content Area */
#tap-content{
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: fit-content;
    justify-content: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 5px;
    /* overflow: scroll; */
}
/* test */
/* #tap-content-expanded{
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: fit-content;
    justify-content: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 5px;
    overflow: scroll;
} */
#tap-content-expanded{
    position: relative;
    width: fit-content;
    max-width: 100%;
    margin: 0 5px 0 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    overflow: scroll;
}

/* Tap Image */
#tap-info-img-box{
    position: relative;
    width: 100%;
    height: 25vw;
    max-width: 100%;
    max-height: var(--info-main-image-height-max);
    min-width: 100%;
    min-height: var(--info-main-image-height-min);
}
#tap-info-img-box-desktop{
    position: relative;
    width: 100%;
    height: 25vw;
    max-width: 100%;
    max-height: var(--info-main-image-height-max);
    min-width: 100%;
    min-height: var(--info-main-image-height-min);
}
#tap-info-img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#tap-head-info{
    display: flex;
    flex-direction: row;
}
#tap-type-icon-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 2;
    margin: 10px 5px 0 5px;
    max-width: 15%;
}
#tap-type-icon{
    width: 100vw;
    height: min-content;
    min-width: var(--info-icons-size-min);
    max-width: var(--info-icons-size-max);
    min-height: var(--info-icons-size-min);
    max-height: var(--info-icons-size-max);
}

/* Name & Address */

#org-name-and-address{
    align-self: center;
    flex: 2;
    margin-top: 5px;
}
#org-name-and-address-desktop{
    align-self: center;
    flex: 3;
    margin-top: 5px;
}
#tap-organization-name{
    font-size: 1.1em;
    font-weight: 700;
    text-align: start;
    line-height: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    text-overflow: ellipsis;    
}
#tap-info-address{
    text-align: start;
    font-size: 12px;
    font-weight: 500;
    
}

/* Hours */

#org-hours{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    flex: 3;
    /* background-color: darkcyan; */
}
#tap-info-org-status{
    text-align: center;
    color: green;
    font-size: 1em;
    font-weight: 700;
}

/* expanded */
#tap-info-hours-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
    align-self: center;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px;
    padding: 0 3px 0 3px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .3s all ease-in-out ;
    -webkit-transition: .3s all ease-in-out ;
    -moz-transition: .3s all ease-in-out ;
    -ms-transition: .3s all ease-in-out ;
    -o-transition: .3s all ease-in-out ;
    background-color: white;
    z-index: 100;
}
#tap-info-hours-container-placeholder{
    visibility: hidden;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
    align-self: center;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 5px;
    padding: 0 3px 0 3px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#hours-area{
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
    align-self: center;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 5px;
    /* padding: 0 3px 0 3px; */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    /* background-color: coral; */
}
#tap-info-hours-list{
    position: absolute;
}
#current-hours{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    /* background-color: cadetblue; */
}
#current-hours-placeholder{
    visibility: hidden;
    display: flex;
    flex-direction: row;
    width: fit-content;
}
#other-hours-container{
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tap-hours-list-item{
    text-align: center;
    white-space: nowrap;
    width: fit-content;
    /* background-color: lightgreen; */
}
#tap-hours-placeholder{
    visibility: hidden;
}
.hours-dropdown-arrow-container{
    transition: .6s width ease-in-out;
    -webkit-transition: .6s width ease-in-out;
    -moz-transition: .6s width ease-in-out;
    -ms-transition: .6s width ease-in-out;
    -o-transition: .6s width ease-in-out;
    /* margin-right: 3px; */
}
.hours-dropdown-arrow{
    width: 100%;
}

#walk-time-and-icons{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 5px 5px;
}
#tap-info-walk-time{
    width: fit-content;
    font-size: 12px;
    font-weight: 500;
}
#tap-info-icons-box{
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 0 5px 0 5px;
}
.tap-info-icon{
    position: relative;
    width: 3vh;
    height: 3vh;
    display: flex;
    min-width: 20px;
    min-height: 20px;
}
.tap-info-icon-img{
    position: relative;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
}

/* Expand Arrow */

#tap-info-arrow-box{
    position: relative;
    width: 90%;
    height: fit-content;
    padding: 8px 0 8px 0;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#arrow-description-toggle{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.tap-info-arrow{
    height: 20px;
    width: 40px;
    /* margin-top: 10px; */
    align-self: center;
    /* background-color: lawngreen; */
}

/* Description */
#tap-info-description{
    flex: 1;
    margin-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid rgba(0,0,0,.2);
    transition: .6s all ease-in-out;
    -webkit-transition: .6s all ease-in-out;
    -moz-transition: .6s all ease-in-out;
    -ms-transition: .6s all ease-in-out;
    -o-transition: .6s all ease-in-out;
}

/* Close Arrow */
#close-arrow-desktop-container{
    position: absolute;
    width: fit-content;
    z-index: 2000;
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateX(50%) rotateZ(90deg) ;
    -webkit-transform: translateY(-50%) translateX(50%) rotateZ(90deg) ;
    -moz-transform: translateY(-50%) translateX(50%) rotateZ(90deg) ;
    -ms-transform: translateY(-50%) translateX(50%) rotateZ(90deg) ;
    -o-transform: translateY(-50%) translateX(50%) rotateZ(90deg) ;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: rgba(255,255,255,.9);
    border: .5px solid rgba(0,0,0,.4);
    box-shadow: 0 .25px 4px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
#close-arrow-desktop{
    width: 60px;
    height: auto;
}
#close-arrow-desktop-img{
    width: 100%;
    height: 100%;
    padding: 10px;
}