.btn {
  margin-left: auto;
}

.btn-blue {
  background-color: #27aae1;
  color: #fff;
  &:hover {
    color: #666;
  }
}

.btn-red {
  background-color: #cd3642;
  color: #fff;
  &:hover {
    color: #666;
  }
}

.modalIcon {
  width: 20px;
  height: 20px;
}

.modalBody {
  display: flex;
  flex-wrap: wrap;
}

.text {
  color: #7c7c7d;
}

.modal-footer {
  justify-content: space-between;
}
