button {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.svg-inline--fa {
  transition: color 0.15s ease-in-out;
}

.page-wrapper {
  position: absolute;
  height: 100%;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
