name: Cypress Tests

on: [workflow_call]

jobs:
  desktop:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Checkout
        uses: actions/checkout@v4
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          start: yarn start:cypress
          browser: chrome
          spec: cypress/e2e/desktop/*.cy.js
